<!doctype html>
<html>
	<head>
	
	<title>Shout — The modern IRC client</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	
	</head>
	<body>
	
	<div id="wrap" class="table">
		<aside id="sidebar">
			<div id="menu">
				<h2>Shout Client</h2>
				<button data-target="#start">Start</button>
				<button data-target="#settings">Settings</button>
			</div>
			<div id="networks"></div>
			<footer id="footer">
				<a href="<%= homepage %>" target="_blank" class="btn">
					<strong><%= name %></strong>
					<%= version %>
				</a>
			</footer>
		</aside>
		<div id="main">
			<div id="windows">
				<div id="start" class="window"></div>
				<div id="settings" class="window"></div>
			</div>
			<div id="chat"></div>
		</div>
	</div>
	
	<div id="templates">
		<script type="text/html" class="networks">
		{{#each networks}}
		<div id="network-{{id}}" class="network">
			<h2>{{name}}</h2>
			{{partial "channels"}}
		</div>
		{{/each}}
		</script>
		
		<script type="text/html" class="channels">
		{{#each channels}}
		<button id="channel-{{id}}" class="channel" data-target="#window-{{id}}">
			<span class="badge"></span>
			{{name}}
		</button>
		{{/each}}
		</script>
		
		<script type="text/html" class="windows">
		{{#each windows}}
		<div id="window-{{id}}" class="window {{type}}">
			<div class="chat">
				<div class="messages">
					<div class="show-more">
						<button class="btn">Show more</button>
					</div>
					{{partial "messages"}}
				</div>
				<div class="users">
					{{partial "users"}}
				</div>
			</div>
			<form class="form" onSubmit="return false" data-target="{{id}}">
				<input type="text" class="input">
			</form>
		</div>
		{{/each}}
		</script>
		
		<script type="text/html" class="users">
		<div class="count">
			Users: {{users.length}}
		</div>
		{{#each users}}
		<button class="user">
			{{mode}}{{name}}
		</button>
		{{/each}}
		</script>
		
		<script type="text/html" class="messages">
		{{#slice messages limit=100}}
		<div class="msg {{type}}">
			<span class="time">
				{{time}}
			</span>
			<span class="from">
				<button class="user">{{from}}</button>
			</span>
			<span class="text">
				{{#if type}}
				<em class="type">{{type}}</em>
				{{/if}}
				{{{uri text}}}
			</span>
		</div>
		{{/slice}}
		</script>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.plugins.js"></script>
	<script src="/js/uri.js"></script>
	<script src="/js/handlebars.js"></script>
	<script src="/js/handlebars.helpers.js"></script>
	<script src="/js/chat.js"></script>
	
	</body>
</html>
