node_modules/
npm-debug.log

.nyc_output/
coverage/

# Built assets created at npm install/prepublish time
# See https://docs.npmjs.com/misc/scripts
client/fonts/
client/js/bundle.js
client/js/bundle.js.map
client/js/bundle.vendor.js
client/js/bundle.vendor.js.map
client/js/polyfill.min.js
