[submodule "node_modules/slate-irc"]
	path = node_modules/slate-irc
	url = http://github.com/erming/slate-irc
[submodule "client/js/lib/scrollGlue"]
	path = client/js/lib/scrollGlue
	url = http://github.com/erming/scrollGlue
[submodule "client/js/lib/inputHistory"]
	path = client/js/lib/inputHistory
	url = http://github.com/erming/inputHistory
[submodule "client/js/lib/tabComplete"]
	path = client/js/lib/tabComplete
	url = http://github.com/erming/tabComplete
