[submodule "node_modules/slate-irc"]
	path = node_modules/slate-irc
	url = http://github.com/erming/slate-irc
[submodule "client/js/scrollGlue"]
	path = client/js/scrollGlue
	url = http://github.com/erming/scrollGlue
[submodule "client/js/inputHistory"]
	path = client/js/inputHistory
	url = http://github.com/erming/inputHistory
[submodule "client/js/tabComplete"]
	path = client/js/tabComplete
	url = http://github.com/erming/tabComplete
