node_modules/
npm-debug.log

coverage/

# Built assets created at npm install/prepublish time
# See https://docs.npmjs.com/misc/scripts
client/fonts/
client/js/libs.min.js.map
client/js/libs.min.js
client/js/lounge.templates.js

# Common hidden files that shouldn't be checked in
.DS_Store
