# This file must not contain generated assets listed in .gitignore.
# npm-debug.log and node_modules/ are ignored by default.
# See https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

client/js/bundle.vendor.js.map
client/js/lounge.js
client/js/libs/
client/views/
coverage/
scripts/
test/
.editorconfig
.gitattributes
.gitignore
.npmignore
.travis.yml
appveyor.yml
