# Patterns specified here are excluded from packages produced by `yarn pack`
# See https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# in theory we should be using an include list, but yarn can't cope
# with negative patterns in the package.json's "files" field
# see https://github.com/yarnpkg/yarn/issues/8332
# so we monky patch one ourselves

# Note some files are protected and always included, so the list is not exhaustive

!.thelounge_home
!index.js
# give yarn global add a chance to use the right deps
!yarn.lock

!dist/package.json

!dist/server/**/*.js

!dist/defaults/**/*.js

!dist/shared/**/*.js

# this doesn't get copied to dist/ so we need to manually include it
# TODO: this should be fixed by copying it to dist/ in the webpack build
!client/index.html.tpl

# ignore specific files in public/
public/js/bundle.vendor.js.map
# then include the rest
!public/**

# Ignore all files not explicitly excluded above
*
