# This file must not contain generated assets listed in .gitignore.
# npm-debug.log and node_modules/ are ignored by default.
# See https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# Ignore all dot files except for .lounge_home
.*
!.lounge_home

client/
public/js/bundle.vendor.js.map
coverage/
scripts/
test/
appveyor.yml
webpack.config.js
