#image-viewer,
#image-viewer .close-btn {
	/* Vertically and horizontally center stuff */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#image-viewer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
	z-index: 999;
}

#image-viewer.opened {
	visibility: visible;
	opacity: 1;
}

#image-viewer .close-btn,
#image-viewer .previous-image-btn,
#image-viewer .next-image-btn {
	position: fixed;
	top: 0;
	width: 2em;
	font-size: 36px;
	color: white;
	opacity: 0.6;
	transition: 0.2s opacity;
}

#image-viewer .close-btn {
	right: 0;
	height: 2em;
	z-index: 1002;
}

#image-viewer .close-btn::before {
	content: "×";
}

#image-viewer .previous-image-btn,
#image-viewer .next-image-btn {
	bottom: 0;
	z-index: 1001;
}

#image-viewer .previous-image-btn {
	left: 0;
}

#image-viewer .next-image-btn {
	right: 0;
}

#image-viewer .close-btn:hover,
#image-viewer .previous-image-btn:hover,
#image-viewer .next-image-btn:hover {
	opacity: 1;
}

#image-viewer .image-link {
	margin: 10px;
}

#image-viewer .image-link:hover {
	opacity: 1;
}

#image-viewer .image-link img {
	max-width: 100%;

	/* Top/Bottom margins + button height + image/button margin */
	max-height: calc(100vh - 2 * 10px - 37px - 10px);

	/* Checkered background for transparent images */
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
	background-image:
		linear-gradient(45deg, #eee 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #eee 75%, #eee 100%),
		linear-gradient(45deg, #eee 25%, #fff 25%, #fff 75%, #eee 75%, #eee 100%);
}

#image-viewer .open-btn {
	margin: 0 auto 10px;
}
