#chat table.channel-list,
#chat table.ban-list,
#chat table.invite-list,
#chat table.ignore-list {
	margin: 5px 10px;
	width: calc(100% - 30px);
}

#chat table.channel-list th,
#chat table.ban-list th,
#chat table.invite-list th,
#chat table.ignore-list th,
#chat table.channel-list td,
#chat table.ban-list td,
#chat table.invite-list td {
	padding: 5px;
	vertical-align: top;
	border-bottom: #eee 1px solid;
}
