@require 'nib'
@require '~lato-font/css/lato-font.css'



.app-cmpt
	width 100%
	height 100%


// Vendor
perspective()
	vendor('perspective', arguments, only: webkit official)


html, body, #main
	height 100%

$body-bg-color = #455164

body
	background $body-bg-color
	color #222
	font 16px Lato, sans-serif
	margin 0

a
	transition opacity .2s

a:hover
	text-decoration none
	opacity .8

h1, h2
	font inherit
	line-height inherit
	margin 0

h1.title
	margin-bottom 10px

input
	outline 0

button
	border none
	background none
	margin 0
	outline none
	padding 0

.btn
	border 2px solid #84ce88
	border-radius 3px
	color #84ce88
	display inline-block
	font-size 12px
	font-weight bold
	letter-spacing 1px
	margin-bottom 10px
	padding 9px 17px
	text-transform uppercase
	transition background .2s, border-color .2s, color .2s
	word-spacing 3px

	&:disabled,
	&:hover
		background #84ce88
		color #fff

	&:active
		box-shadow none
		opacity .8

	&:disabled
		opacity .6

.container
	margin 80px auto
	max-width 480px
	overflow hidden
	overflow-y auto
	-webkit-overflow-scrolling touch
	padding 0 30px

::-moz-placeholder
	color rgba(0, 0, 0, .35)
	opacity 1

::-webkit-input-placeholder
	color rgba(0, 0, 0, .35)

:-ms-input-placeholder
	color rgba(0, 0, 0, .35) !important


/* Icons */

#viewport .lt:before,
#viewport .rt:before,
.chat-cmpt button.menu:before,
#sidebar .chan:before,
.chat-cmpt .title:before,
#footer .icon,
.chat-cmpt .count:before,
#settings #play:before,
.chat-form .submit:before,
.chat-cmpt .invite .from:before,
.chat-cmpt .join .from:before,
.chat-cmpt .kick .from:before,
.chat-cmpt .part .from:before,
.chat-cmpt .quit .from:before,
.chat-cmpt .topic .from:before,
.chat-cmpt .mode .from:before,
.chat-cmpt .ctcp .from:before,
.chat-cmpt .whois .from:before,
.chat-cmpt .nick .from:before,
.chat-cmpt .action .from:before,
.context-menu-item:before
	font normal normal normal 14px/1 FontAwesome
	/* Can't have font-size inherit on line above, so need to override */
	font-size inherit
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

#viewport .lt:before
	/* http://fontawesome.io/icon/bars/ */
	content "\f0c9"
#viewport .rt:before
	/* http://fontawesome.io/icon/users/ */
	content "\f0c0"
.chat-cmpt button.menu:before
	/* http://fontawesome.io/icon/ellipsis-v/ */
	content "\f142"

.context-menu-user:before
	/* http://fontawesome.io/icon/user/ */
	content "\f007"
.context-menu-chan:before
	/* http://fontawesome.io/icon/file-text-o/ */
	content "\f0f6"
.context-menu-close:before
	/* http://fontawesome.io/icon/times/ */
	content "\f00d"

#sidebar .chan.lobby:before,
.chat-cmpt .lobby .title:before
	/* http://fontawesome.io/icon/hdd-o/ */
	content "\f0a0"

#sidebar .chan.query:before,
.chat-cmpt .query .title:before
	/* http://fontawesome.io/icon/comments-o/ */
	content "\f0e6"

#sidebar .chan.channel:before,
.chat-cmpt .channel .title:before
	/* http://fontawesome.io/icon/file-text-o/ */
	content "\f0f6"

#footer .sign-in:before
	/* http://fontawesome.io/icon/lock/ */
	content "\f023"
#footer .connect:before
	/* http://fontawesome.io/icon/plus/ */
	content "\f067"
#footer .settings:before
	/* http://fontawesome.io/icon/cog/ */
	content "\f013"
#footer .sign-out:before
	/* http://fontawesome.io/icon/power-off/ */
	content "\f011"

.chat-form .submit:before
	/* http://fontawesome.io/icon/paper-plane/ */
	content "\f1d8"

.chat-cmpt
	.invite .from:before
		/* http://fontawesome.io/icon/envelope-o/ */
		content "\f003"
		color #2ecc40

	.part .from:before,
	.quit .from:before
		/* http://fontawesome.io/icon/sign-out/ */
		content "\f08b"
		color #ff4136
		display inline-block
		transform rotate(180deg)

	.topic .from:before
		/* http://fontawesome.io/icon/bullhorn/ */
		content "\f0a1"
		color #2ecc40

	.mode .from:before
		/* http://fontawesome.io/icon/info-circle/ */
		content "\f05a"
		color #2ecc40

	.ctcp .from:before
		/* http://fontawesome.io/icon/file-text-o/ */
		content "\f0f6"

	.whois .from:before
		/* http://fontawesome.io/icon/user/ */
		content "\f007"
		color #2ecc40

	.nick .from:before
		/* http://fontawesome.io/icon/user/ */
		content "\f007"
		color #2ecc40

	.join .from:before
		/* http://fontawesome.io/icon/sign-in/ */
		content "\f090"
		color #2ecc40

	.kick .from:before
		/* http://fontawesome.io/icon/ban/ */
		content "\f05e"
		color #ff4136

	.action .from:before
		/* http://fontawesome.io/icon/star/ */
		content "\f005"

	.count:before
		color #cfcfcf
		/* http://fontawesome.io/icon/search/ */
		content "\f002"
		position absolute
		right 18px
		font-size 14px
		line-height 50px

#settings #play:before
	/* http://fontawesome.io/icon/volume-up/ */
	content "\f028"
	margin-right 9px

/* End icons */

#wrap
	height 100%
	overflow hidden

#viewport
	height 100%
	transition all .4s
	transform translateZ(0)
	perspective 1000

#viewport .lt,
#viewport .rt,
.chat-cmpt button.menu
	color #ccc
	display none
	float left
	font-size 14px
	line-height 1
	height 36px
	margin 6px 12px 0 -12px
	width 36px

#viewport
	.lt
		position relative

		/* Notification dot on the top right corner of the menu icon */
		&:after
			content ""
			position absolute
			top 9px
			right 7px
			background-color #e74c3c
			width 10px
			height 10px
			border-radius 50%
			border 2px solid white
			opacity 0
			transition opacity .2s

		&.notified:after
			opacity 1

	.rt-tooltip
		float right

	.rt
		display block
		margin 6px -12px 0 0

.chat-cmpt button.menu
	display block
	float right
	margin 6px -8px 0 12px

#viewport.rt .chat-cmpt .sidebar
	transform translate3d(180px, 0, 0)

#sidebar
	bottom 52px
	left 0
	overflow auto
	overflow-x hidden
	-webkit-overflow-scrolling touch
	position absolute
	top 0
	width 220px

	button,
	.chan,
	.sign-out
		border 1px solid transparent
		border-radius 2px
		color #99a2b4
		cursor pointer
		font-size 14px

	button:hover,
	.chan:hover,
	.active
		color #fff

	.networks
		padding 20px 30px 0

	.networks:empty
		padding 0

	.network,
	.network-placeholder
		margin-bottom 30px

	.empty
		color #9ca5b4
		line-height 1.6
		font-size 12px
		margin-top 20px
		padding 20px 40px
		text-align center

	.chan,
	.chan-placeholder
		display block
		margin 1px -10px
		padding 6px 10px 8px 36px
		position relative
		text-align left
		transition color .2s
		width 180px

	.chan-placeholder
		padding-bottom 10px

	.chan:first-child
		color #84ce88
		font-size 15px
		font-weight bold

	.chan:first-child:hover,
	.chan:first-child.active
		color #c0f8c3

#sidebar .chan:before,
.chat-cmpt .title:before
	float left
	margin-top 3px
	margin-right 12px
	text-align center

#sidebar .chan:before
	position absolute
	top 4px
	left 10px

.chat-cmpt .title:before
	margin-top 17px

#sidebar
	.chan
		.name
			position relative
			z-index 0
			display block
			overflow hidden
			white-space nowrap
			margin-right 5px

			&:after
				position absolute
				top 0
				right 0
				bottom 0
				width 20px
				background linear-gradient(to right, rgba(69, 81, 100, 0) 0%, rgba(69, 81, 100, 1) 100%)
				content " "

	.badge
		background rgba(255, 255, 255, .06)
		border-radius 3px
		color #afb6c0
		font-size 10px
		margin-top 1px
		margin-right -5px
		margin-left 5px
		padding 3px 6px
		float right
		transition opacity .2s, background-color .2s, color .2s

		&.highlight
			background #fff
			color #49505a

	.chan.active .badge,
	.badge:empty
		opacity 0

	.close
		border-radius 3px
		margin-right 5px
		visibility hidden
		opacity 0
		position absolute
		z-index 2
		right 0
		transition opacity .2s, background-color .2s

		&:before
			font-size 18px
			font-weight normal
			display inline-block
			line-height 18px
			width 18px
			height 18px
			text-align center
			content "×"
			color #fff

	.chan.active .close
		visibility visible
		opacity .4

		&:hover
			background-color rgba(0, 0, 0, .1)
			opacity 1

	.tse-scrollbar
		top 2px
		right 3px

#sidebar,
#footer
	user-select none

#footer
	background rgba(0, 0, 0, .06)
	border-radius 2px
	bottom 4px
	height 45px
	left 5px
	font-size 14px
	line-height 45px
	position absolute
	text-align center
	width 210px

	button.active
		color #fff

	.icon
		color #9ca5b4
		display inline-block
		line-height 34px
		padding 0 12px

.signed-out
	#footer .sign-in
		display inline-block

	#footer .connect,
	#footer .sign-out
		display none

.public #footer .sign-in,
.public #footer .sign-out
	display none

#footer .sign-in
	display none

.main
	bottom 4px
	left 220px
	position absolute
	right 5px
	top 4px
	display flex
	flex-direction column

#header
	display none
	height 40px
	position absolute
	top 0
	width 100%

#user-specified-css-input
	resize vertical

.windows
	label
		font-size 14px

	.input
		background-color white
		border 1px solid #cdd3da
		border-radius 2px
		color #222
		font-size 14px
		margin 2px 0
		margin-bottom 10px
		outline 0
		padding 8px 10px
		transition border-color .2s
		width 100%

	select.input
		height 35px

	.input:hover,
	.input:focus
		border-color #79838c

	.window
		background #fff
		border-radius 2px
		bottom 0
		left 0
		position absolute
		right 0
		top 0
		overflow-y auto
		-webkit-overflow-scrolling touch

		&:before
			background #f4f4f4
			background-image linear-gradient(#f4f4f4, #ececec)
			border-bottom 1px solid #d7d7d7
			content " "
			display block
			height 10px
			position relative
			z-index 10

		h1
			font-size 36px

		h2
			border-bottom 1px solid #eee
			color #7f8c8d
			font-size 22px
			margin 30px 0 10px
			padding-bottom 7px

	.active
		display block

	.header
		border-bottom 1px solid #e7e7e7
		line-height 48px
		height 48px
		padding 0 20px
		overflow hidden

		.title
			font-size 14px

		.topic
			color #777
			margin-left 8px
			word-break break-all

	.window .header
		display none

.cmpt-chat-container-window,
.chat-cmpt .chan
	position absolute
	top 0
	right 0
	bottom 0
	left 0

.windows .cmpt-chat-container-window.active
	display flex
	flex-direction column

.chat-cmpt
	position relative
	overflow hidden
	flex 1

	.chan
		display none

	.chan.active
		display block

.windows .header .topic,
.messages .msg,
.sidebar
	font 12px Consolas, Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Courier New", monospace
	line-height 1.4

.windows .chat-cmpt .header
	display block

.chat-cmpt
	.chat,
	.sidebar
		top 48px

	.chat
		display flex
		bottom 0
		left 0
		overflow auto
		-webkit-overflow-scrolling touch
		position absolute
		right 180px

#viewport.rt .chat
	right 0

.chat-cmpt
	.sidebar
		background #fff
		border-left 1px solid #e7e7e7
		bottom 0
		position absolute
		right 0
		width 180px
		transition all .4s
		transform translateZ(0)
		perspective 1000

	.lobby .chat,
	.query .chat
		right 0

	.lobby .sidebar,
	.query .sidebar
		display none

	.show-more
		display none
		padding 10px
		flex-shrink 0
		width 100%

	.show-more-button
		background #f4f4f4
		background-image linear-gradient(#f4f4f4, #ececec)
		border 1px solid #d7d7d7
		border-bottom-color #b7b7b7
		border-radius 2px
		color #555
		font-size 12px
		height 34px
		line-height 0
		width 100%

		&:hover
			opacity 1

	.messages
		overflow auto
		display flex
		flex-direction column-reverse
		width 100%
		padding 10px 0

	.msg
		word-wrap break-word
		word-break break-word /* Webkit-specific */

	.unread-marker
		position relative
		text-align center
		opacity .5
		margin 0 10px
		z-index 0
		font-weight bold
		font-size 12px

		&:before
			position absolute
			z-index -1
			content ""
			left 0
			right 0
			top 50%
			border-top 1px solid #e74c3c

	.unread-marker-text:before
		content "New messages"
		background-color white
		color #e74c3c
		padding 0 10px

	.unread-marker:last-child
		display none


.inline-channel
	cursor pointer

	&:hover
		opacity .6

.chat-cmpt
	.time,
	.from,
	.text
		display table-cell
		padding 2px 0
		vertical-align top

	.time
		color #ddd
		text-align right
		max-width 46px
		min-width 46px

	.from
		border-right 1px solid #f6f6f6
		color #b1c3ce
		padding-right 10px
		text-align right
		max-width 134px
		min-width 134px

.cmpt-loading-window a,
.chat-cmpt a
	color #50a656

/* Nicknames */

.chat-cmpt
	.user
		cursor pointer
		color #50a656
		&:hover
			opacity .6

	&.colored-nicks
		.user.color-1 { color: #1396cf; }
		.user.color-2 { color: #ffcf89; }
		.user.color-3 { color: #00dc5f; }
		.user.color-4 { color: #ff5bc8; }
		.user.color-5 { color: #ff0e1b; }
		.user.color-6 { color: #000094; }
		.user.color-7 { color: #006441; }
		.user.color-8 { color: #00566e; }
		.user.color-9 { color: #ff0078; }
		.user.color-10 { color: #15d5a3; }
		.user.color-11 { color: #006b3b; }
		.user.color-12 { color: #00c5ba; }
		.user.color-13 { color: #00465b; }
		.user.color-14 { color: #ffafce; }
		.user.color-15 { color: #ff3b12; }
		.user.color-16 { color: #16cc6a; }
		.user.color-17 { color: #ff0072; }
		.user.color-18 { color: #ff5877; }
		.user.color-19 { color: #ff1753; }
		.user.color-20 { color: #007a56; }
		.user.color-21 { color: #095092; }
		.user.color-22 { color: #000bde; }
		.user.color-23 { color: #00bca9; }
		.user.color-24 { color: #00367d; }
		.user.color-25 { color: #009ec4; }
		.user.color-26 { color: #006119; }
		.user.color-27 { color: #008bb8; }
		.user.color-28 { color: #469c00; }
		.user.color-29 { color: #ff0f95; }
		.user.color-30 { color: #ff7615; }
		.user.color-31 { color: #ff4846; }
		.user.color-32 { color: #ff199b; }

	.text
		padding-left 10px
		padding-right 6px

	.self .text
		color #999

	.msg.motd .text,
	.msg.message .text,
	.msg.action .action-text,
	.msg.notice .text
		white-space pre-wrap
		overflow hidden

	&.hide-join .join,
	&.hide-mode .mode,
	&.hide-motd .motd,
	&.hide-nick .nick,
	&.hide-part .part,
	&.hide-quit .quit
		display none !important

	.join .text,
	.kick .text,
	.mode .text,
	.nick .text,
	.part .text,
	.quit .text,
	.topic .text,
	.topic_set_by .text
		color #999

	.action .from,
	.action .text,
	.action .user
		color #f39c12

	.notice .time,
	.notice .text,
	.chan .notice .user
		color #0074d9 !important

	.notice .user:before
		content "Notice: "

	.error,
	.error .from,
	.channel .highlight .from,
	.channel .highlight .text,
	.channel .highlight .user
		color #f00

	.unhandled .from
		color #eee

	.msg.toggle .time
		visibility hidden

	.toggle-button
		background #f5f5f5
		border-radius 2px
		display inline-block
		color #666
		height 1em
		line-height 0
		padding 0 6px

	.toggle-content
		background #f5f5f5
		border-radius 2px
		display none
		color #222
		font-size 12px
		max-width 100%
		padding 6px 8px
		margin-top 2px

		a
			color inherit

		img
			max-width 100%
			max-height 250px
			display block
			margin 2px 0

		.thumb
			max-height 110px
			max-width 210px

		.head
			font-weight bold

		.body
			color #999
			max-width 460px
			word-break normal
			word-wrap break-word

		&.show
			display inline-block !important

	.count
		background #fafafa
		height 48px
		left 0
		position absolute
		right 0
		top 0

	.search
		color #222
		border 0
		background none
		font inherit
		outline 0
		padding 18px 16px
		position relative
		width 100%

	.names
		bottom 0
		overflow auto
		overflow-x hidden
		-webkit-overflow-scrolling touch
		padding-bottom 10px
		position absolute
		top 48px
		width 100%

		.user
			display block
			line-height 1.6
			padding 0 16px

	.user-mode
		&:before
			content ""
			border-bottom 1px solid #eee
			display block
			line-height 1.6
			padding 12px 16px 10px
			margin-bottom 10px

		&.owner:before
			content "Owners"

		&.admin:before
			content "Administrators"

		&.op:before
			content "Operators"

		&.half-op:before
			content "Half-Operators"

		&.voice:before
			content "Voiced"

		&.normal:before
			content "Users"

.cmpt-loading-window
	font-size 14px
	z-index 1

	p
		margin-top 10px

.cmpt-loading-window-slow
	display none

#sign-in
	label
		display block
		margin-top 10px

	.remember
		float left
		font-size 14px
		margin-top 12px

		input
			float left
			margin 3px 10px 0 0

	.btn
		margin-top 25px

	.error
		color #e74c3c
		margin-top 1em

#connect
	label
		display block
		margin-top 11px

	.port:before
		content ""
		margin 9px 0 0 -17px
		position absolute

	.tls
		float left
		font-size 14px
		margin-top 6px

		input
			float left
			margin 3px 10px 0 0

	.btn
		float left
		margin-top 30px

#settings
	.opt
		display block
		padding 5px 0 10px 1px

		input
			float left
			margin 4px 10px 0 0

	.about,
	#play
		color #7f8c8d

	.about small
		margin-left 2px

	#play
		font-size 14px
		transition opacity .2s

		&:hover
			opacity .8

	.about
		font-size 14px
		padding-top 2px
		line-height 1.8

	#change-password
		.error,
		.success
			margin-bottom 1em

		.error
			color #e74c3c

		.success
			color #2ecc40

	.error
		color #e74c3c
		margin-top .2em

.chat-form
	background #eee
	border-top 1px solid #ddd
	flex 0 0 auto
	padding 5px

.windows .chat-form .input
	font 12px Consolas, Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Courier New", monospace
	border 1px solid #ddd
	border-radius 2px
	margin 0
	padding 0
	background white
	display flex
	align-items flex-end

.chat-form
	.nick
		background #f6f6f6
		color #666
		font inherit
		font-size 11px
		margin 4px
		line-height 26px
		height 24px
		padding 0 9px
		border-radius 1px
		user-select none
		flex 0 0 auto

		&:empty
			visibility hidden

		&:after
			content ":"

	.input
		background transparent
		border none
		font inherit
		/* Required when computing input height at char deletion */
		min-height 18px
		height 18px
		max-height 90px
		line-height 1.5
		outline none
		margin 5px
		padding 0
		resize none
		flex 1 0 auto
		align-self center

	.submit
		color #9ca5b4
		font-size 14px
		height 32px
		transition opacity .2s
		width 32px
		flex 0 0 auto

	&:hover
		opacity .6

#context-menu-container
	display none
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index 1000
	background transparent

#context-menu
	position absolute
	list-style none
	margin 0
	padding 0
	min-width 160px
	font-size 14px
	background-color #fff
	box-shadow 0 3px 12px rgba(0, 0, 0, .15)
	border 1px solid rgba(0, 0, 0, .15)
	border-radius 2px

.context-menu-divider
	height 1px
	margin 6px 0
	background-color rgba(0, 0, 0, .1)

.context-menu-item
	cursor pointer
	display block
	padding 4px 8px
	color #333
	margin-top 6px
	margin-bottom 6px

	&:hover
		background-color #f6f6f6

	&:before
		width 20px
		display inline-block

@require '~primer-tooltips/build/build.css'

@require '~irc-style-parser/irc-colours.css'

@media (max-width: 768px)
	/**
  * TODO Replace this with `@media (hover: hover)` when Firefox supports it
  * See:
  * - http://stackoverflow.com/a/28058919/1935861
  * - http://caniuse.com/#feat=css-media-interaction
  * - https://www.w3.org/TR/mediaqueries-4/
  * - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
  */
	.tooltipped:hover:before,
	.tooltipped:hover:after,
	.tooltipped:active:before,
	.tooltipped:active:after,
	.tooltipped:focus:before,
	.tooltipped:focus:after
		visibility hidden
		opacity 0

	.container
		margin-top 60px !important

	#viewport.lt
		transform translate3d(220px, 0, 0)

	#viewport.rt .chat-cmpt .sidebar
		transform translate3d(-180px, 0, 0)

	#sidebar
		left -220px

	#footer
		left -215px
		width 215px

	#sidebar .empty:before
		margin-top 0

	.main
		left 5px
		right 5px

	.chat-cmpt .chat
		right 0

	#viewport .lt,
	#viewport .channel .rt
		display block

	.windows .window .header
		display block

	.chat-cmpt
		.sidebar
			right -180px

		.title:before
			display none

@media (max-width: 479px)
	.container
		margin 40px 0 !important

	#connect .tls
		margin 20px 0

	.windows .input
		margin-bottom 2px

	.chat-cmpt
		.messages
			display block
			padding 5px 10px

		.msg
			display block
			padding 2px 0

		.time,
		.from,
		.text
			border 0
			display inline
			padding 0

		.unread-marker
			margin 0

::-webkit-scrollbar
	width 8px
	background-color rgba(0, 0, 0, 0)

	&:hover
		background-color rgba(0, 0, 0, .09)

::-webkit-scrollbar-thumb:vertical
	background rgba(0, 0, 0, .5)
	border-radius 100px
	&:active
		background rgba(0, 0, 0, .6)
