/*
Crypto theme for The Lounge.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Aynik
GitHub: https://github.com/aynik
*/

@font-face {
	font-family: Inconsolata-g;
	src: url("fonts/inconsolatag.woff") format("woff"), url("fonts/inconsolatag.ttf") format("ttf");
}

body {
	background: #000;
	font: 16px Inconsolata-g, monospace;
}

a,
#chat a {
	color: #00ff0e;
}

a:hover,
#chat a:hover {
	color: #3eff48;
}

#windows .window h2 {
	color: #666;
	font: regular 14px Leto, sans-serif;
	border-bottom: none;
}

#main {
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 0;
}

.container {
	margin: 40px auto;
}

#sign-in label {
	font: 14px Lato, sans-serif;
	color: #666;
}

#sign-in label input {
	margin-top: 10px !important;
	font: 14px Inconsolata-g, monospace;
}

.btn {
	border-color: #00ff0e;
	color: #00ff0e;
}

.btn:disabled,
.btn:hover {
	background: #00ff0e;
}

#windows .window:before,
#windows .chan:before {
	content: none;
}

#settings .opt {
	line-height: 20px;
	font-size: 12px;
}

#sign-in .remember {
	font: 12px Inconsolata-g, monospace;
	line-height: 30px;
}

#sidebar .chan:first-child {
	color: #00ff0e;
}

#sidebar .chan .name:after {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

#sidebar button,
#sidebar .chan,
#sidebar .sign-out,
#chat .time,
#chat .count:before,
#sidebar .empty {
	color: #666;
}

#sidebar .active {
	color: #fff;
}

#chat,
#windows .header {
	font: 12px Inconsolata-g, monospace;
	line-height: 1.8;
}

#chat .chat,
#chat .sidebar {
	top: 48px;
}

#chat .user {
	color: black;
	font-weight: bold;
}

#chat .unread-marker-text:before {
	font: bold 12px Inconsolata-g, monospace;
}

#form .input {
	font: 12px Inconsolata-g, monospace;
}

#footer .icon {
	color: #666;
}

@media (max-width: 768px) {
	#main {
		left: 0;
	}
}
