/*
Crypto theme for The Lounge.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Aynik
GitHub: https://github.com/aynik
*/

@font-face {
	font-family: Inconsolata-g;
	src: url("../css/fonts/inconsolatag.woff") format("woff");
}

body {
	background: #000;
	font: 16px Inconsolata-g, monospace;
}

code,
kbd {
	font-family: Inconsolata-g, monospace;
}

a,
#chat a {
	color: #00ff0e;
}

a:hover,
#chat a:hover {
	color: #3eff48;
}

#windows .window h2,
#windows .window h3 {
	color: #666;
}

#windows .window h2 {
	border-bottom: none;
}

.container {
	margin: 40px auto;
}

#sign-in label {
	color: #666;
}

#sign-in label input {
	margin-top: 10px !important;
	font-size: 14px;
}

.btn {
	border-color: #00ff0e;
	color: #00ff0e;
}

.btn:disabled,
.btn:hover {
	background: #00ff0e;
}

.btn-reconnect {
	background: #f00;
	color: #fff;
	border: 0;
	border-radius: 0;
	margin: 0;
}

#settings .opt {
	line-height: 20px;
	font-size: 12px;
}

#sign-in .remember {
	font-size: 12px;
	line-height: 30px;
}

#sidebar .chan:first-child {
	color: #00ff0e;
}

#sidebar .chan .name:after {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

#sidebar button,
#sidebar .chan,
#sidebar .sign-out,
#chat .time,
#chat .count:before,
#sidebar .empty {
	color: #666;
}

#chat .unhandled .from {
	color: #ddd;
}

#sidebar .active {
	color: #fff;
}

#windows .header .topic,
.messages .msg,
.sidebar {
	font: 12px Inconsolata-g, monospace;
	line-height: 1.8;
}

#chat .user {
	color: black;
	font-weight: bold;
}

#windows #form .input {
	font-family: inherit;
	font-size: 12px;
}

#windows select.input {
	height: 38px;
}

#footer .icon {
	color: #666;
}

.tooltipped:after {
	font-family: Inconsolata-g, monospace;
}

/* Previews */

#chat .toggle-text {
	line-height: initial;
}
