/*
Crypto theme for The Lounge.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Aynik
GitHub: https://github.com/aynik
*/

@font-face {
	font-family: Inconsolata-g;
	src: url("fonts/inconsolatag.woff") format("woff"), url("fonts/inconsolatag.ttf") format("ttf");
}

body {
	background: #000;
	font: 16px Inconsolata-g, monospace;
}

a,
#chat a {
	color: #00ff0e;
}

a:hover,
#chat a:hover {
	color: #3eff48;
}

#windows .window h2 {
	color: #666;
	font: regular 14px Leto, sans-serif;
	border-bottom: none;
}

#main {
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 0;
}

.container {
	margin: 40px auto;
}

#sign-in label {
	font: 14px Lato, sans-serif;
	color: #666;
}

#sign-in label input {
	margin-top: 10px !important;
	font: 14px Inconsolata-g, monospace;
}

.btn {
	border-color: #00ff0e;
	color: #00ff0e;
}

.btn:disabled,
.btn:hover {
	background: #00ff0e;
}

#windows .window:before,
#windows .chan:before {
	content: none;
}

#settings .opt {
	line-height: 20px;
	font-size: 12px;
}

#sign-in .remember {
	font: 12px Inconsolata-g, monospace;
	line-height: 30px;
}

#sidebar .chan:first-child {
	color: #00ff0e;
}

#sidebar .chan .name:after {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

#sidebar button,
#sidebar .chan,
#sidebar .sign-out,
#chat .time,
#chat .count:before,
#sidebar .empty {
	color: #666;
}

#sidebar .active {
	color: #fff;
}

#chat,
#windows .header {
	font: 12px Inconsolata-g, monospace;
	line-height: 1.8;
}

#chat .chat,
#chat .sidebar {
	top: 48px;
}

#chat .user {
	color: black;
	font-weight: bold;
}

#form .input {
	font: 12px Inconsolata-g, monospace;
}

#footer .icon {
	color: #666;
}

/**
 * Nickname colors
 */

/* Single color used for all nicknames when colored nicknames are disabled */
#chat .user {
	color: #50a656;
}

/* Color palette used when colored nicknames are enabled */
#chat.colored-nicks .user.color-1 { color: #1396cf; }
#chat.colored-nicks .user.color-2 { color: #ffcf89; }
#chat.colored-nicks .user.color-3 { color: #00dc5f; }
#chat.colored-nicks .user.color-4 { color: #ff5bc8; }
#chat.colored-nicks .user.color-5 { color: #ff0e1b; }
#chat.colored-nicks .user.color-6 { color: #000094; }
#chat.colored-nicks .user.color-7 { color: #006441; }
#chat.colored-nicks .user.color-8 { color: #00566e; }
#chat.colored-nicks .user.color-9 { color: #ff0078; }
#chat.colored-nicks .user.color-10 { color: #15d5a3; }
#chat.colored-nicks .user.color-11 { color: #006b3b; }
#chat.colored-nicks .user.color-12 { color: #00c5ba; }
#chat.colored-nicks .user.color-13 { color: #00465b; }
#chat.colored-nicks .user.color-14 { color: #ffafce; }
#chat.colored-nicks .user.color-15 { color: #ff3b12; }
#chat.colored-nicks .user.color-16 { color: #16cc6a; }
#chat.colored-nicks .user.color-17 { color: #ff0072; }
#chat.colored-nicks .user.color-18 { color: #ff5877; }
#chat.colored-nicks .user.color-19 { color: #ff1753; }
#chat.colored-nicks .user.color-20 { color: #007a56; }
#chat.colored-nicks .user.color-21 { color: #095092; }
#chat.colored-nicks .user.color-22 { color: #000bde; }
#chat.colored-nicks .user.color-23 { color: #00bca9; }
#chat.colored-nicks .user.color-24 { color: #00367d; }
#chat.colored-nicks .user.color-25 { color: #009ec4; }
#chat.colored-nicks .user.color-26 { color: #006119; }
#chat.colored-nicks .user.color-27 { color: #008bb8; }
#chat.colored-nicks .user.color-28 { color: #469c00; }
#chat.colored-nicks .user.color-29 { color: #ff0f95; }
#chat.colored-nicks .user.color-30 { color: #ff7615; }
#chat.colored-nicks .user.color-31 { color: #ff4846; }
#chat.colored-nicks .user.color-32 { color: #ff199b; }

/**
 * END Nickname colors
 */

@media (max-width: 768px) {
	#main {
		left: 0;
	}
}
