#viewport {
	padding: 5px;
}

#viewport.menu-open {
	padding-left: 0;
}

.window {
	border-radius: 5px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
	#viewport,
	#viewport.menu-open {
		padding: 0;
	}

	#viewport #sign-in {
		margin-left: 0;
	}

	#footer .icon {
		border-radius: 0;
	}

	#windows .window {
		border-radius: 0;
	}
}
