#loading .window {
	margin: 5px;
}

#viewport {
	padding: calc(5px + env(safe-area-inset-top)) calc(5px + env(safe-area-inset-right)) calc(5px + env(safe-area-inset-bottom)) calc(5px + env(safe-area-inset-left));
}

#viewport.menu-open {
	padding-left: env(safe-area-inset-left);
}

.window {
	border-radius: 5px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
	#loading .window {
		margin: 0;
	}

	#viewport,
	#viewport.menu-open {
		padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	}

	#footer .icon {
		border-radius: 0;
	}

	.window {
		border-radius: 0;
	}
}
