/**
 * This is just an empty theme.
 */

body {
	padding: 4px;
	padding-left: 0;
}

#footer {
	margin-left: 4px;
	border-radius: 2px;
	width: 216px;
}

#windows .window::before {
	background: #f4f4f4;
	background-image: linear-gradient(#f4f4f4, #ececec);
	border-bottom: 1px solid #d7d7d7;
	content: " ";
	display: block;
	height: 10px;
	position: relative;
	z-index: 10;
	flex-shrink: 0;
}

#windows .window {
	border-radius: 2px;
}

@media (max-width: 768px) {
	body {
		padding: 0;
	}

	#footer {
		margin-left: 0;
		border-radius: 0;
		width: inherit;
	}

	#windows .window::before {
		display: none;
	}

	#windows .window {
		border-radius: 0;
	}
}
