/*
Morning theme for The Lounge.
Has a bit more eye-friendly color scheme.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Riku Rouvila
GitHub: https://github.com/rikukissa
*/

/*
BACKGROUND #333c4a
INPUT BACKGROUND #2e3642
PRIMARY #fefefe
SECONDARY #99a2b4
BORDERS #2a323d
QUIT #d0907d
*/

body {
	color: #ccc;
}

#main,
#chat .sidebar,
#windows .chan,
#windows .window {
	background: #333c4a;
}

#main #chat,
#main #form,
#form .input,
#chat,
#windows .header {
	font-family: "Open Sans", sans-serif !important;
	font-size: 13px;
}

#chat .count {
	background-color: #2e3642;
}

#chat .search {
	color: #ccc;
	padding: 15px 16px;
}

#chat .search::-webkit-input-placeholder {
	color: #99a2b4;
	opacity: .5;
}

/* Borders */
#chat .from,
#windows .header,
#chat .user-mode:before,
#chat .sidebar {
	border-color: #2a323d;
}

/* Attach chat to window borders */
#windows .window:before,
#windows .chan:before {
	display: none;
}

#footer {
	left: 0;
	bottom: 0;
	width: 220px;
}

#main {
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 0;
}

#chat .chat,
#chat .sidebar {
	top: 48px;
}

/* User list */
#chat .user-mode {
	color: #fefefe;
}

/* Nicknames */
#chat .user {
	color: #b0bacf;
}

#chat .user:hover {
	color: #fefefe;
}

#chat.colored-nicks .user.color-1 { color: #f00; }
#chat.colored-nicks .user.color-2 { color: #ff2b00; }
#chat.colored-nicks .user.color-3 { color: #f50; }
#chat.colored-nicks .user.color-4 { color: #ff8000; }
#chat.colored-nicks .user.color-5 { color: #fa0; }
#chat.colored-nicks .user.color-6 { color: #ffd500; }
#chat.colored-nicks .user.color-7 { color: #ff0; }
#chat.colored-nicks .user.color-8 { color: #d4ff00; }
#chat.colored-nicks .user.color-9 { color: #af0; }
#chat.colored-nicks .user.color-10 { color: #80ff00; }
#chat.colored-nicks .user.color-11 { color: #5f0; }
#chat.colored-nicks .user.color-12 { color: #2bff00; }
#chat.colored-nicks .user.color-13 { color: #0f0; }
#chat.colored-nicks .user.color-14 { color: #00ff2b; }
#chat.colored-nicks .user.color-15 { color: #0f5; }
#chat.colored-nicks .user.color-16 { color: #00ff80; }
#chat.colored-nicks .user.color-17 { color: #0fa; }
#chat.colored-nicks .user.color-18 { color: #00ffd5; }
#chat.colored-nicks .user.color-19 { color: #0ff; }
#chat.colored-nicks .user.color-20 { color: #00d4ff; }
#chat.colored-nicks .user.color-21 { color: #0af; }
#chat.colored-nicks .user.color-22 { color: #007fff; }
#chat.colored-nicks .user.color-23 { color: #a8c5ff; }
#chat.colored-nicks .user.color-24 { color: #8095ff; }
#chat.colored-nicks .user.color-25 { color: #7070ff; }
#chat.colored-nicks .user.color-26 { color: #8870ff; }
#chat.colored-nicks .user.color-27 { color: #aa80ff; }
#chat.colored-nicks .user.color-28 { color: #c9f; }
#chat.colored-nicks .user.color-29 { color: #e9bdff; }
#chat.colored-nicks .user.color-30 { color: #d400ff; }
#chat.colored-nicks .user.color-31 { color: #f0f; }
#chat.colored-nicks .user.color-32 { color: #ff00d4; }

#chat a {
	color: #428bca;
}

#chat button:hover {
	opacity: 1;
}

/* Message form */
#form {
	background: #2a323d;
	border-color: #242a33;
}

#form .input {
	background-color: #2e3642 !important;
	border-color: #242a33 !important;
	color: #ccc;
}

#form #nick {
	background: #242a33;
	color: #ccc;
}

#form #submit:hover {
	opacity: 1;
}

/* Buttons */
#chat .show-more-button {
	background: #2e3642;
	border-color: #242a33;
	color: #ccc;
}

#chat .show-more-button:hover {
	color: #fff;
}

#chat .header {
	color: #99a2b4;
}

/* Notification dot on the top right corner of the menu icon */
#viewport .lt:after {
	border-color: #333c4a;
}

#chat .unread-marker {
	opacity: 1;
}

#chat .unread-marker-text:before {
	background-color: #333c4a;
}

/* Setup text colors */
#chat .msg {
	color: #f3f3f3;
}

#chat .message {
	color: #fefefe;
}

#chat .self .text {
	color: #99a2b4;
}

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from {
	color: #f92772;
}

#chat .unhandled .from {
	color: #99a2b4;
}

#chat .msg.quit .time,
#chat .msg.quit .from button {
	color: #d0907d !important;
}

#chat .msg.topic {
	color: #fefefe;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #84ce88 !important;
}

/* Embeds */
#chat .toggle-content,
#chat .toggle-button {
	background: #242a33;
	color: #f3f3f3;
}

#chat .toggle-content img {
	float: left;
	margin-right: .5em;
}

#chat .toggle-content .body {
	color: #99a2b4;
}

@media (max-width: 768px) {
	#main {
		left: 0;
	}
	#footer {
		left: -220px;
		width: 225px;
	}
}
