@import 'default.css';

:root {
	--body-color: #f3f3f3;
	--body-color-muted: #b7c5d1;
	--link-color: #77abd9;
	--window-bg-color: #303e4a;
	--date-marker-color: #97ea70;
	--unread-marker-color: #f92772;
	--highlight-bg-color: #4d4332;
	--highlight-border-color: #b08c4f;
}

#chat .channel .msg.highlight .time {
	color: white;
}

#loading .logo,
#windows .logo {
	display: none;
}

#loading .logo-inverted,
#windows .logo-inverted {
	display: inline-block;
}

#chat .userlist .count {
	background-color: #28333d;
}

#chat .count::before {
	color: #b7c5d1;
}

/* Borders */
#chat .content,
#windows #chat .header,
#chat .user-mode::before,
#chat .userlist {
	border-color: #28333d;
}

/* User list */
#chat .userlist .user.active {
	background-color: #28333d;
}

/* Nicknames */
#chat .user {
	color: #b0bacf;
}

#chat.colored-nicks .user.color-1 { color: #f7adf7; }
#chat.colored-nicks .user.color-2 { color: #abf99f; }
#chat.colored-nicks .user.color-3 { color: #86efdc; }
#chat.colored-nicks .user.color-4 { color: #c890eb; }
#chat.colored-nicks .user.color-5 { color: #f9a4b3; }
#chat.colored-nicks .user.color-6 { color: #f7999a; }
#chat.colored-nicks .user.color-7 { color: #f497b9; }
#chat.colored-nicks .user.color-8 { color: #f9a9d7; }
#chat.colored-nicks .user.color-9 { color: #85a7e3; }
#chat.colored-nicks .user.color-10 { color: #a8b8ff; }
#chat.colored-nicks .user.color-11 { color: #b695fc; }
#chat.colored-nicks .user.color-12 { color: #f4aead; }
#chat.colored-nicks .user.color-13 { color: #fc7cb1; }
#chat.colored-nicks .user.color-14 { color: #ff72e0; }
#chat.colored-nicks .user.color-15 { color: #8cb6ea; }
#chat.colored-nicks .user.color-16 { color: #f9857c; }
#chat.colored-nicks .user.color-17 { color: #ed9b82; }
#chat.colored-nicks .user.color-18 { color: #8df484; }
#chat.colored-nicks .user.color-19 { color: #ffcce3; }
#chat.colored-nicks .user.color-20 { color: #efcc81; }
#chat.colored-nicks .user.color-21 { color: #92a2ed; }
#chat.colored-nicks .user.color-22 { color: #f4d484; }
#chat.colored-nicks .user.color-23 { color: #97ea70; }
#chat.colored-nicks .user.color-24 { color: #fcbbba; }
#chat.colored-nicks .user.color-25 { color: #eef975; }
#chat.colored-nicks .user.color-26 { color: #c7ff93; }
#chat.colored-nicks .user.color-27 { color: #ffade1; }
#chat.colored-nicks .user.color-28 { color: #98ecf2; }
#chat.colored-nicks .user.color-29 { color: #91a2f5; }
#chat.colored-nicks .user.color-30 { color: #b19aea; }
#chat.colored-nicks .user.color-31 { color: #f2a4eb; }
#chat.colored-nicks .user.color-32 { color: #85f27d; }

/* Increase contrast of some IRC colors */
.irc-fg2 { color: #0074d9; }
.irc-fg5 { color: #e969a7; }
.irc-fg12 { color: #50a8ff; }

/* Message form */
#form {
	background-color: #28333d;
	border-color: #28333d;
	color: var(--body-color);
}

#form #nick {
	background: #242a33;
	color: #f3f3f3;
}

#windows .window {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
}

#windows .window h2 {
	color: #b7c5d1;
}

#viewport .lt,
#viewport .rt,
#chat button.menu,
#form #submit {
	color: #b7c5d1;
}

/* Setup text colors */
#chat .message {
	color: #f3f3f3;
}

#chat .error,
#chat .error .from {
	color: #f92772;
}

#chat .msg.motd .text,
code,
.irc-monospace {
	background: #28333d;
	color: #f3f3f3;
}

kbd {
	color: #eee;
	text-shadow: 0 -1px 0 #000;
	border-color: #000;
	background-color: #333;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
	box-shadow: 0 2px 0 #000, inset 0 1px 1px #777, inset 0 -1px 3px #222;
}

/* Embeds */
#chat .toggle-content {
	background: #28333d;
	color: #f3f3f3;
}

#chat .toggle-content .body {
	color: #99a2b4;
}

/* Form elements */

#chat-container ::-moz-placeholder {
	color: #b7c5d1;
	opacity: 0.75;
}

#chat-container ::-webkit-input-placeholder {
	color: #b7c5d1;
	opacity: 0.75;
}

#chat-container :-ms-input-placeholder {
	color: #b7c5d1;
	opacity: 0.75;
}

/* End form elements */
