/*
Morning theme for The Lounge.
Has a bit more eye-friendly color scheme.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Riku Rouvila
GitHub: https://github.com/rikukissa
*/

/*
BACKGROUND #333c4a
INPUT BACKGROUND #2e3642
PRIMARY #fefefe
SECONDARY #99a2b4
BORDERS #2a323d
QUIT #d0907d
*/

body {
	color: #ccc;
}

#main,
#chat .sidebar,
#windows .chan,
#windows .window {
	background: #333c4a;
}

#windows .header .topic,
#windows #form .input,
.messages .msg,
.sidebar {
	font-family: inherit;
	font-size: 13px;
}

#chat .count {
	background-color: #2e3642;
}

#chat .search {
	color: #ccc;
	padding: 15px 16px;
}

/* Borders */
#chat .from,
#windows .header,
#chat .user-mode:before,
#chat .sidebar {
	border-color: #2a323d;
}

/* User list */
#chat .user-mode {
	color: #fefefe;
}

/* Nicknames */
#chat .user {
	color: #b0bacf;
}

#chat.colored-nicks .user.color-1 { color: #f7adf7; }
#chat.colored-nicks .user.color-2 { color: #abf99f; }
#chat.colored-nicks .user.color-3 { color: #86efdc; }
#chat.colored-nicks .user.color-4 { color: #b76ee5; }
#chat.colored-nicks .user.color-5 { color: #f9a4b3; }
#chat.colored-nicks .user.color-6 { color: #f7999a; }
#chat.colored-nicks .user.color-7 { color: #f497b9; }
#chat.colored-nicks .user.color-8 { color: #f9a9d7; }
#chat.colored-nicks .user.color-9 { color: #7fa2e2; }
#chat.colored-nicks .user.color-10 { color: #a8b8ff; }
#chat.colored-nicks .user.color-11 { color: #ad88fc; }
#chat.colored-nicks .user.color-12 { color: #f4aead; }
#chat.colored-nicks .user.color-13 { color: #fc71ab; }
#chat.colored-nicks .user.color-14 { color: #ff72e0; }
#chat.colored-nicks .user.color-15 { color: #8cb6ea; }
#chat.colored-nicks .user.color-16 { color: #f9857c; }
#chat.colored-nicks .user.color-17 { color: #ed9b82; }
#chat.colored-nicks .user.color-18 { color: #8df484; }
#chat.colored-nicks .user.color-19 { color: #ffcce3; }
#chat.colored-nicks .user.color-20 { color: #efcc81; }
#chat.colored-nicks .user.color-21 { color: #90a1ed; }
#chat.colored-nicks .user.color-22 { color: #f4d484; }
#chat.colored-nicks .user.color-23 { color: #97ea70; }
#chat.colored-nicks .user.color-24 { color: #fcbbba; }
#chat.colored-nicks .user.color-25 { color: #eef975; }
#chat.colored-nicks .user.color-26 { color: #c7ff93; }
#chat.colored-nicks .user.color-27 { color: #ffade1; }
#chat.colored-nicks .user.color-28 { color: #98ecf2; }
#chat.colored-nicks .user.color-29 { color: #7187f2; }
#chat.colored-nicks .user.color-30 { color: #9676e2; }
#chat.colored-nicks .user.color-31 { color: #f2a4eb; }
#chat.colored-nicks .user.color-32 { color: #85f27d; }

#chat a {
	color: #428bca;
}

/* Increase contrast of some IRC colors */
.irc-fg2 { color: #0074d9; }
.irc-fg5 { color: #e969a7; }
.irc-fg12 { color: #50a8ff; }

/* Message form */
#form {
	background: #2a323d;
	border-color: #242a33;
}

#windows #form .input {
	background-color: #2e3642 !important;
	border-color: #242a33 !important;
	color: #ccc;
}

#form #nick {
	background: #242a33;
	color: #ccc;
}

#form #submit:hover {
	opacity: 1;
}

/* Buttons */
#chat .show-more-button {
	background: #2e3642;
	border-color: #242a33;
	color: #ccc;
}

#chat .show-more-button:hover {
	color: #fff;
}

#chat .header {
	color: #99a2b4;
}

/* Notification dot on the top right corner of the menu icon */
#viewport .lt:after {
	border-color: #333c4a;
}

#chat .unread-marker-text:before {
	background-color: #333c4a;
}

#chat .date-marker:before {
	border-color: #97ea70;
}

#chat .date-marker-text:before {
	background-color: #333c4a;
	color: #97ea70;
}

/* Setup text colors */
#chat .msg {
	color: #f3f3f3;
}

#chat .message {
	color: #fefefe;
}

#chat .self .text {
	color: #99a2b4;
}

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from,
#chat .channel .highlight .text {
	color: #f92772;
}

#chat .unhandled .from {
	color: #99a2b4;
}

#chat .msg.quit .time,
#chat .msg.quit .from button {
	color: #d0907d !important;
}

#chat .msg.topic {
	color: #fefefe;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #84ce88 !important;
}

#chat table.channel-list td {
	color: #ccc;
}

/* Embeds */
#chat .toggle-content {
	background: #242a33;
	color: #f3f3f3;
}

#chat .toggle-content .body {
	color: #99a2b4;
}

.btn-reconnect {
	background: #e74c3c;
	color: #fff;
	border: 0;
	border-radius: 0;
	margin: 0;
}

/* Form elements */

#chat-container ::-moz-placeholder {
	color: #99a2b4;
	opacity: .5;
}

#chat-container ::-webkit-input-placeholder {
	color: #99a2b4;
	opacity: .5;
}

#chat-container :-ms-input-placeholder {
	color: #99a2b4;
	opacity: .5;
}

/* End form elements */

@media (min-width: 480px) {
	#chat .from:after {
		background: linear-gradient(to right, rgba(51, 60, 74, .5) 0%, rgba(51, 60, 74, 1) 100%);
	}
}
