/*
Morning theme for The Lounge.
Has a bit more eye-friendly color scheme.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Riku Rouvila
GitHub: https://github.com/rikukissa
*/

/*
BACKGROUND #333c4a
INPUT BACKGROUND #2e3642
PRIMARY #fefefe
SECONDARY #99a2b4
BORDERS #2a323d
QUIT #d0907d
*/

#main,
#chat .sidebar,
#windows .chan,
#windows .window {
	background: #333c4a;
}

#main #chat,
#main #form,
#form .input,
#chat,
#windows .header {
	font-family: "Open Sans", sans-serif !important;
	font-size: 13px;
}

#settings,
#sign-in,
#connect {
	color: #ccc;
}

#chat .count {
	background-color: #2e3642;
}

#chat .search {
	color: #ccc;
	padding: 15px 16px;
}

#chat .search::-webkit-input-placeholder {
	color: #99a2b4;
	opacity: .5;
}

/* Borders */
#chat .from,
#windows .header,
#chat .user-mode:before,
#chat .sidebar {
	border-color: #2a323d;
}

/* Attach chat to window borders */
#windows .window:before,
#windows .chan:before {
	display: none;
}

#footer {
	left: 0;
	bottom: 0;
	width: 220px;
}

#main {
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 0;
}

#chat .chat,
#chat .sidebar {
	top: 48px;
}

/* User list */
#chat .user-mode {
	color: #fefefe;
}

/* Nicknames */
#chat.no-colors .from .user,
#chat.no-colors .text .user,
#chat.no-colors .sidebar .user {
	color: #b0bacf !important;
}

#chat.no-colors .from .user:hover,
#chat.no-colors .text .user:hover,
#chat.no-colors .sidebar .user:hover {
	color: #fefefe !important;
}

#chat .user.color-1 { color: #f7adf7; }
#chat .user.color-2 { color: #abf99f; }
#chat .user.color-3 { color: #86efdc; }
#chat .user.color-4 { color: #b76ee5; }
#chat .user.color-5 { color: #f9a4b3; }
#chat .user.color-6 { color: #f7999a; }
#chat .user.color-7 { color: #f497b9; }
#chat .user.color-8 { color: #f9a9d7; }
#chat .user.color-9 { color: #7fa2e2; }
#chat .user.color-10 { color: #a8b8ff; }
#chat .user.color-11 { color: #ad88fc; }
#chat .user.color-12 { color: #f4aead; }
#chat .user.color-13 { color: #fc71ab; }
#chat .user.color-14 { color: #ff72e0; }
#chat .user.color-15 { color: #8cb6ea; }
#chat .user.color-16 { color: #f9857c; }
#chat .user.color-17 { color: #ed9b82; }
#chat .user.color-18 { color: #8df484; }
#chat .user.color-19 { color: #ffcce3; }
#chat .user.color-20 { color: #efcc81; }
#chat .user.color-21 { color: #90a1ed; }
#chat .user.color-22 { color: #f4d484; }
#chat .user.color-23 { color: #97ea70; }
#chat .user.color-24 { color: #fcbbba; }
#chat .user.color-25 { color: #eef975; }
#chat .user.color-26 { color: #c7ff93; }
#chat .user.color-27 { color: #ffade1; }
#chat .user.color-28 { color: #98ecf2; }
#chat .user.color-29 { color: #7187f2; }
#chat .user.color-30 { color: #9676e2; }
#chat .user.color-31 { color: #f2a4eb; }
#chat .user.color-32 { color: #85f27d; }

#chat a {
	color: #428bca;
}

#chat button:hover {
	opacity: 1;
}

/* Message form */
#form {
	background: #2a323d;
	border-color: #242a33;
}

#form #input {
	background-color: #2e3642;
	border-color: #242a33;
	color: #ccc;
}

#form #nick {
	background: #242a33;
	color: #ccc;
}

#form #submit:hover {
	opacity: 1;
}

/* Buttons */
#chat .show-more-button {
	background: #2e3642;
	border-color: #242a33;
	color: #ccc;
}

#chat .show-more-button:hover {
	color: #fff;
}

#chat .header {
	color: #99a2b4;
}

/* Setup text colors */
#chat .msg {
	color: #f3f3f3;
}

#chat .message {
	color: #fefefe;
}

#chat .self .text {
	color: #99a2b4;
}

#chat .error,
#chat .error .from,
#chat .highlight,
#chat .highlight .from {
	color: #f92772;
}

#chat .msg.quit .time,
#chat .msg.quit .from button {
	color: #d0907d !important;
}

#chat .msg.topic {
	color: #fefefe;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #84ce88 !important;
}

/* Embeds */
#chat .toggle-content,
#chat .toggle-button {
	background: #242a33;
	color: #f3f3f3;
}

#chat .toggle-content img {
	float: left;
	margin-right: .5em;
}

#chat .toggle-content .body {
	color: #99a2b4;
}

@media (max-width: 768px) {
	#main {
		left: 0;
	}
	#footer {
		left: -220px;
		width: 225px;
	}
}
