/*
Zenburn theme for The Lounge.
Based on the Morning Theme by Riku Rouvila

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: JP Smith
GitHub: https://github.com/japesinator
*/

/*
BACKGROUND #3f3f3f
INPUT BACKGROUND #434443
PRIMARY #dcdccc
SECONDARY #d2d39b
BORDERS #333333
QUIT #bc6c4c
*/

body {
	background: #2b2b2b;
	color: #dcdccc;
}

#main,
#chat .sidebar,
#windows .chan,
#windows .window {
	background: #3f3f3f;
}

#main #chat,
#main #form,
#form .input,
#chat,
#windows .header {
	font-family: "Open Sans", sans-serif !important;
	font-size: 13px;
}

#settings,
#sign-in,
#connect .title {
	color: #88b090;
}

#settings,
#sign-in,
#connect .opt {
	color: #dcdccc;
}

#sidebar {
	background: #2b2b2b;
	bottom: 48px;
}

#sidebar .chan .name:after {
	background: linear-gradient(to right, rgba(43, 43, 43, 0) 0%, rgba(43, 43, 43, 1) 100%);
}

#footer {
	background: #33332f;
	border-top: 1px solid #000;
}

#chat .count {
	background-color: #434443;
}

#chat .search {
	color: #88b090;
	padding: 15px 16px;
}

#chat .search::-webkit-input-placeholder {
	color: #d2d39b;
	opacity: .5;
}

/* Borders */
#chat .from,
#windows .header,
#chat .user-mode:before,
#chat .sidebar {
	border-color: #333;
}

/* Attach chat to window borders */
#windows .window:before,
#windows .chan:before {
	display: none;
}

#footer {
	left: 0;
	bottom: 0;
	width: 220px;
}

#main {
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 0;
}

#chat .chat,
#chat .sidebar {
	top: 48px;
}

/* User list */
#chat .user-mode {
	color: #dcdccc;
}

/* Nicknames */
#chat .user {
	color: #bc8cbc;
}

#chat .user:hover {
	color: #dcdccc;
}

#chat.colored-nicks .user.color-1 { color: #f00; }
#chat.colored-nicks .user.color-2 { color: #ff2b00; }
#chat.colored-nicks .user.color-3 { color: #f50; }
#chat.colored-nicks .user.color-4 { color: #ff8000; }
#chat.colored-nicks .user.color-5 { color: #fa0; }
#chat.colored-nicks .user.color-6 { color: #ffd500; }
#chat.colored-nicks .user.color-7 { color: #ff0; }
#chat.colored-nicks .user.color-8 { color: #d4ff00; }
#chat.colored-nicks .user.color-9 { color: #af0; }
#chat.colored-nicks .user.color-10 { color: #80ff00; }
#chat.colored-nicks .user.color-11 { color: #5f0; }
#chat.colored-nicks .user.color-12 { color: #2bff00; }
#chat.colored-nicks .user.color-13 { color: #0f0; }
#chat.colored-nicks .user.color-14 { color: #00ff2b; }
#chat.colored-nicks .user.color-15 { color: #0f5; }
#chat.colored-nicks .user.color-16 { color: #00ff80; }
#chat.colored-nicks .user.color-17 { color: #0fa; }
#chat.colored-nicks .user.color-18 { color: #00ffd5; }
#chat.colored-nicks .user.color-19 { color: #0ff; }
#chat.colored-nicks .user.color-20 { color: #00d4ff; }
#chat.colored-nicks .user.color-21 { color: #0af; }
#chat.colored-nicks .user.color-22 { color: #007fff; }
#chat.colored-nicks .user.color-23 { color: #9ebeff; }
#chat.colored-nicks .user.color-24 { color: #758cff; }
#chat.colored-nicks .user.color-25 { color: #66f; }
#chat.colored-nicks .user.color-26 { color: #846bff; }
#chat.colored-nicks .user.color-27 { color: #a77aff; }
#chat.colored-nicks .user.color-28 { color: #c78fff; }
#chat.colored-nicks .user.color-29 { color: #e6b3ff; }
#chat.colored-nicks .user.color-30 { color: #d400ff; }
#chat.colored-nicks .user.color-31 { color: #f0f; }
#chat.colored-nicks .user.color-32 { color: #ff00d4; }

#chat a {
	color: #8c8cbc;
}

#chat button:hover {
	opacity: 1;
}

/* Message form */
#form {
	background: #333;
	border-color: #101010;
}

#form .input {
	background-color: #434443 !important;
	border-color: #101010 !important;
	color: #dcdccc !important;
}

#form #nick {
	background: #101010;
	color: #dcdccc;
}

#form #submit:hover {
	opacity: 1;
}

/* Buttons */
#chat .show-more-button {
	background: #434443;
	border-color: #101010;
	color: #dcdccc;
}

#chat .show-more-button:hover {
	color: #fff;
}

#chat .header {
	color: #d2d39b;
}

/* Notification dot on the top right corner of the menu icon */
#viewport .lt:after {
	border-color: #3f3f3f;
}

#chat .unread-marker {
	opacity: 1;
}

#chat .unread-marker-text:before {
	background-color: #3f3f3f;
}

/* Setup text colors */
#chat .msg {
	color: #ffcfaf;
}

#chat .message {
	color: #dcdccc;
}

#chat .self .text {
	color: #d2d39b;
}

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from {
	color: #bc6c4c;
}

#chat .unhandled .from {
	color: #aaa;
}

#chat .msg.quit .time,
#chat .msg.quit .from button {
	color: #bc6c9c !important;
}

#chat .msg.topic {
	color: #dcdccc;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #8cd0d3 !important;
}

/* Embeds */
#chat .toggle-content,
#chat .toggle-button {
	background: #93b3a3;
	color: #dcdccc;
}

#chat .toggle-content img {
	float: left;
	margin-right: .5em;
}

#chat .toggle-content .body {
	color: #d2d39b;
}

@media (max-width: 768px) {
	#main {
		left: 0;
	}
	#footer {
		left: -220px;
		width: 225px;
	}
}
