/*
Zenburn theme for The Lounge.
Based on the Morning Theme by Riku Rouvila

Installation instructions can be found here
https://thelounge.chat/docs/server/configuration.html#theme

Author: JP Smith
GitHub: https://github.com/japesinator
*/

/*
BACKGROUND #3f3f3f
INPUT BACKGROUND #434443
PRIMARY #dcdccc
SECONDARY #d2d39b
BORDERS #333333
QUIT #bc6c4c
*/

body {
	background: #2b2b2b;
	color: #dcdccc;
}

.logo {
	display: none;
}

.logo-inverted {
	display: inline-block;
}

#main,
#chat .userlist,
#windows .chan,
#windows .window {
	background: #3f3f3f;
}

#settings,
#sign-in,
#connect .title {
	color: #88b090;
}

#settings,
#sign-in,
#connect .opt {
	color: #dcdccc;
}

#sidebar {
	background: #2b2b2b;
}

#footer {
	background: #333;
	border-top: 1px solid #000;
}

#chat .userlist .count {
	background-color: #434443;
}

#chat .userlist .search {
	color: #88b090;
	padding: 15px 16px;
}

/* Borders */
#chat .content,
#windows .header,
#chat .user-mode::before,
#chat .userlist {
	border-color: #333;
}

/* User list */
#chat .user-mode {
	color: #dcdccc;
}

#chat .userlist .user.active {
	background-color: #333;
}

/* Nicknames */
#chat .user {
	color: #bc8cbc;
}

#chat.colored-nicks .user.color-1 { color: #f7adf7; }
#chat.colored-nicks .user.color-2 { color: #abf99f; }
#chat.colored-nicks .user.color-3 { color: #86efdc; }
#chat.colored-nicks .user.color-4 { color: #ca95ec; }
#chat.colored-nicks .user.color-5 { color: #f9a4b3; }
#chat.colored-nicks .user.color-6 { color: #f7999a; }
#chat.colored-nicks .user.color-7 { color: #f497b9; }
#chat.colored-nicks .user.color-8 { color: #f9a9d7; }
#chat.colored-nicks .user.color-9 { color: #8babe5; }
#chat.colored-nicks .user.color-10 { color: #a8b8ff; }
#chat.colored-nicks .user.color-11 { color: #b999fc; }
#chat.colored-nicks .user.color-12 { color: #f4aead; }
#chat.colored-nicks .user.color-13 { color: #fc82b5; }
#chat.colored-nicks .user.color-14 { color: #ff77e1; }
#chat.colored-nicks .user.color-15 { color: #8cb6ea; }
#chat.colored-nicks .user.color-16 { color: #f98a81; }
#chat.colored-nicks .user.color-17 { color: #ed9b82; }
#chat.colored-nicks .user.color-18 { color: #8df484; }
#chat.colored-nicks .user.color-19 { color: #ffcce3; }
#chat.colored-nicks .user.color-20 { color: #efcc81; }
#chat.colored-nicks .user.color-21 { color: #96a6ee; }
#chat.colored-nicks .user.color-22 { color: #f4d484; }
#chat.colored-nicks .user.color-23 { color: #97ea70; }
#chat.colored-nicks .user.color-24 { color: #fcbbba; }
#chat.colored-nicks .user.color-25 { color: #eef975; }
#chat.colored-nicks .user.color-26 { color: #c7ff93; }
#chat.colored-nicks .user.color-27 { color: #ffade1; }
#chat.colored-nicks .user.color-28 { color: #98ecf2; }
#chat.colored-nicks .user.color-29 { color: #95a5f5; }
#chat.colored-nicks .user.color-30 { color: #b49eea; }
#chat.colored-nicks .user.color-31 { color: #f2a4eb; }
#chat.colored-nicks .user.color-32 { color: #85f27d; }

#chat a {
	color: #8c8cbc;
}

/* Increase contrast of some IRC colors */
.irc-fg2 { color: #1b94ff; }
.irc-fg5 { color: #e969a7; }
.irc-fg12 { color: #6fb7ff; }

/* Message form */
#form {
	background: #333;
	border-color: #101010;
}

#windows #form .input {
	background-color: #434443 !important;
	border-color: #101010 !important;
	color: #dcdccc !important;
}

#form #nick {
	background: #101010;
	color: #dcdccc;
}

#form #submit:hover {
	opacity: 1;
}

/* Buttons */
#chat .show-more-button {
	background: #434443;
	border-color: #101010;
	color: #dcdccc;
}

#chat .show-more-button:hover {
	color: #fff;
}

#chat .header {
	color: #d2d39b;
}

/* Notification dot on the top right corner of the menu icon */
#viewport .lt::after {
	border-color: #3f3f3f;
}

#chat .unread-marker-text::before {
	background-color: #3f3f3f;
}

#chat .date-marker::before {
	border-color: #97ea70;
}

#chat .date-marker-text::before {
	background-color: #3f3f3f;
	color: #97ea70;
}

/* Setup text colors */
#chat .msg {
	color: #ffcfaf;
}

#chat .message {
	color: #dcdccc;
}

#chat .self .text {
	color: #d2d39b;
}

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from,
#chat .channel .highlight .text {
	color: #bc6c4c;
}

#chat .unhandled .from {
	color: #aaa;
}

#chat .msg.quit .time,
#chat .msg.quit .from button {
	color: #bc6c9c !important;
}

#chat .msg.topic {
	color: #dcdccc;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #8cd0d3 !important;
}

#chat table.channel-list td {
	color: #ccc;
}

code,
.irc-monospace {
	background: #333;
	color: #dcdccc;
}

kbd {
	color: #eee;
	text-shadow: 0 -1px 0 #000;
	border-color: #000;
	background-color: #333;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
	box-shadow: 0 2px 0 #000, inset 0 1px 1px #777, inset 0 -1px 3px #222;
}

/* Previews */

#chat .toggle-content {
	background: #333;
	color: #dcdccc;
}

#chat .toggle-content .body {
	color: #d2d39b;
}

/* Form elements */

#chat-container ::-moz-placeholder {
	color: #d2d39b;
	opacity: 0.5;
}

#chat-container ::-webkit-input-placeholder {
	color: #d2d39b;
	opacity: 0.5;
}

#chat-container :-ms-input-placeholder {
	color: #d2d39b;
	opacity: 0.5;
}

/* End form elements */
