<div class="row">
	<div class="col-xs-12">
		<h1 class="title">The Lounge is loading…</h1>
	</div>
	<div class="col-xs-12">
		<p id="loading-page-message">Loading the app… <a href="http://enable-javascript.com/" target="_blank" rel="noopener">Make sure to have JavaScript enabled.</a></p>
		<div id="loading-slow">
			<p>This is taking longer than it should, there might be connectivity issues.</p>
			<button id="loading-slow-reload" class="btn">Reload page</button>
		</div>
		<script async src="js/loading-slow-alert.js"></script>
	</div>
</div>
