name: Build

permissions:
  contents: read

on: [push, pull_request]

jobs:
  build:
    name: Node ${{ matrix.node_version }} on ${{ matrix.os }}

    strategy:
      matrix:
        include:
          # EOL: April 2027
          - os: macOS-latest
            node_version: 22.x
          - os: windows-latest
            node_version: 22.x
          - os: ubuntu-latest
            node_version: 22.x
          # EOL: April 2028
          - os: ubuntu-latest
            node_version: 24.x
          # EOL: June 2026
          - os: ubuntu-latest
            node_version: 25.x

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install
        run: yarn --frozen-lockfile --non-interactive

      - name: Build
        run: yarn build
        env:
          NODE_ENV: production

      - name: Test
        run: yarn test
